h1{
    color: blue;
    font-size: 40px;
    font-family: sans-serif;
}
h2{
    color: rgb(0, 0, 0);
    font-size: 28px;
    border-bottom: 5px solid red;
    border-left: 5px solid red;
    font-family: sans-serif;
}
p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-indent: 32px;
   
}
a{
    color: red;
    font-size: 16px;
}
a:hover{
    color:blue;
    font-size: 16px;
}
li{
    line-height: 1.5;
    font-family: sans-serif;
}
.style1{
    text-decoration: line-through;
}
img{
    border: 5px solid gray;
    width: 300px;
}
img:hover{
    border:5px solid pink;
}